In [120]:
!pip install yfinance

Collecting yfinance
  Obtaining dependency information for yfinance from https://files.pythonhosted.org/packages/b2/38/7533745b517c34b7b749a7a21f631711354a3d4d39a840d75d20c94d71a0/yfinance-0.2.51-py2.py3-none-any.whl.metadata
  Downloading yfinance-0.2.51-py2.py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Obtaining dependency information for multitasking>=0.0.7 from https://files.pythonhosted.org/packages/3e/8a/bb3160e76e844db9e69a413f055818969c8acade64e1a9ac5ce9dfdcf6c1/multitasking-0.0.11-py3-none-any.whl.metadata
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: lxml>=4.9.1 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (4.9.2)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (2.5.2)
Requirement already satisfied: pytz>=2022.5 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (2022.7)
Collecting frozendict>=2.3.4 (from yfinance)
  Obtaining dependency information for frozendict>=2.3.4 from https://files.pythonhosted.org/packages/04/13/d9839089b900fa7b479cce495d62110cddc4bd5630a04d8469916c0e79c5/frozendict-2.4.6-py311-none-any.whl.metadata
  Downloading frozendict-2.4.6-py311-none-any.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.8.tar.gz (948 kB)
     ---------------------------------------- 0.0/948.2 kB ? eta -:--:--
     - ------------------------------------- 30.7/948.2 kB 1.3 MB/s eta 0:00:01
     - ----------------------------------- 41.0/948.2 kB 653.6 kB/s eta 0:00:02
     - ----------------------------------- 41.0/948.2 kB 653.6 kB/s eta 0:00:02
     --- --------------------------------- 92.2/948.2 kB 525.1 kB/s eta 0:00:02
     --- --------------------------------- 92.2/948.2 kB 525.1 kB/s eta 0:00:02
     ----- ------------------------------ 143.4/948.2 kB 532.5 kB/s eta 0:00:02
     -------- --------------------------- 225.3/948.2 kB 724.0 kB/s eta 0:00:01
     -------- --------------------------- 225.3/948.2 kB 724.0 kB/s eta 0:00:01
     ------------ ----------------------- 327.7/948.2 kB 811.9 kB/s eta 0:00:01
     ------------------- ------------------ 491.5/948.2 kB 1.1 MB/s eta 0:00:01
     -------------------- ----------------- 501.8/948.2 kB 1.0 MB/s eta 0:00:01
     --------------------------- ---------- 686.1/948.2 kB 1.3 MB/s eta 0:00:01
     ---------------------------------- --- 849.9/948.2 kB 1.5 MB/s eta 0:00:01
     -------------------------------------  942.1/948.2 kB 1.5 MB/s eta 0:00:01
     -------------------------------------- 948.2/948.2 kB 1.5 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Collecting html5lib>=1.1 (from yfinance)
  Obtaining dependency information for html5lib>=1.1 from https://files.pythonhosted.org/packages/6c/dd/a834df6482147d48e225a49515aabc28974ad5a4ca3215c18a882565b028/html5lib-1.1-py2.py3-none-any.whl.metadata
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\hp\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2023.7.22)
Downloading yfinance-0.2.51-py2.py3-none-any.whl (104 kB)
   ---------------------------------------- 0.0/104.7 kB ? eta -:--:--
   ---------------------------------------- 104.7/104.7 kB 6.3 MB/s eta 0:00:00
Downloading frozendict-2.4.6-py311-none-any.whl (16 kB)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
   ---------------------------------------- 0.0/112.2 kB ? eta -:--:--
   ---------------------------------------- 112.2/112.2 kB 6.4 MB/s eta 0:00:00
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.8-py3-none-any.whl size=139064 sha256=f6d0c4a876aaf57c38cc33dd4c5c00051f52ce603f8404598cb261f71bf087a8
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\ff\6c\15\506e25bc390de450a7fa53c155cd9b0fbd13ad3e84a9abc183
Successfully built peewee
Installing collected packages: peewee, multitasking, html5lib, frozendict, yfinance
Successfully installed frozendict-2.4.6 html5lib-1.1 multitasking-0.0.11 peewee-3.17.8 yfinance-0.2.51

In [121]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math 
import os
import yfinance as yf

In [34]:
def margin_req(strike,price,premium,n_options = 100, type = "put"):
    if type == "put":
        # let's find the maximum between 3 choices:
        max_choice = np.max([0.3 * price - np.max([price - strike,0]),
               0.1 * strike,
               2.50 * n_options])
        return (max_choice + premium) * 100
    elif type == "call":
         # let's find the maximum between 3 choices:
        max_choice = np.max([0.3 * price - np.max([-(price - strike),0]),
               0.1 * strike,
               2.50 * n_options])
        return (max_choice + premium) * 100

In [35]:
margin_req(90,100,1,n_options=1,type="put")

2100.0

In [36]:
# checking the margin requirement for a put option that evolves with the price of the underlying
price_evol = [100,95,90,85,40,50]
premium_evol = [1,2,4,7,50.5,40]
for i in range(0,len(price_evol)):
    print(margin_req(90,price_evol[i],premium_evol[i],n_options=1,type="put"))

2100.0
2550.0
3100.0
3250.0
6250.0
5500.0

In [235]:
# checking the margin requirement for a call option that evolves with the price of the underlying
price_evol = [40,45,50,55,90,100]
premium_evol = [1,2,4,7,40.5,50]
for i in range(0,len(price_evol)):
    print(margin_req(50,price_evol[i],premium_evol[i],n_options=1,type="call"))

600.0
1050.0
1900.0
2350.0
6750.0
8000.0

In [145]:
pwd

'c:\\Users\\HP\\source\\repos\\optionstrade'

In [146]:
position_jan_11_25 = pd.read_csv("data/positions_11_01_2025.csv", engine='python', encoding = "ISO-8859-1")

In [147]:
position_jan_11_25.head()

,Instrument,Position,Cost Basis,Unrealized P&L,Market Value,Avg Price,Daily P&L,Last
0,SPY Jan17'25 585 Put,-27,"-8,513.10","-12,030.00","-21,455.60",3.15,"-11,150.00",7.75
1,SPDR S&P 500 ETF TRUST,NaN,USD,USD,USD,USD,USD,NaN
2,IBIT Mar21'25 51 Put,-50,"-17,722",-931,"-18,866.18",3.54,"1,850.00",3.73
3,ISHARES BITCOIN TRUST ETF,NaN,USD,USD,USD,USD,USD,NaN
4,SPY Mar21'25 545 Put,-20,"-8,565.64","-3,970.00","-12,691.09",4.28,"-3,560.00",6.25

In [148]:
position_jan_11_25["Instrument\xa0"]

0            SPY Jan17'25 585 Put
1           SPDR S&P 500 ETF TRUST
2            IBIT Mar21'25 51 Put
3        ISHARES BITCOIN TRUST ETF
4            SPY Mar21'25 545 Put
5           SPDR S&P 500 ETF TRUST
6          CAR.UN Feb21'25 48 Put
7     CAN APARTMENT PROP REAL ESTA
8            IBIT Jan17'25 55 Put
9        ISHARES BITCOIN TRUST ETF
10           IWM Jan17'25 219 Put
11        ISHARES RUSSELL 2000 ETF
12          MSFT Jan17'25 420 Put
13                  MICROSOFT CORP
14          NVDA Jan17'25 136 Put
15                     NVIDIA CORP
16          RCAT Apr17'25 15 Call
17            RED CAT HOLDINGS INC
18           CRNT Mar21'25 6 Call
19            CERAGON NETWORKS LTD
20          IONQ Apr17'25 55 Call
21                        IONQ INC
22         NVDA Apr17'25 150 Call
23                     NVIDIA CORP
24         ANET Mar21'25 120 Call
25             ARISTA NETWORKS INC
26                           IBIT
27       ISHARES BITCOIN TRUST ETF
28         RDDT Mar21'25 180 Call
29                 REDDIT INC-CL A
30                            IJR
31    ISHARES CORE S&P SMALL-CAP E
32                            DHI
33                   DR HORTON INC
34                           XLRE
35    REAL ESTATE SELECT SECT SPDR
36                             GM
37               GENERAL MOTORS CO
38                           CIBR
39    FIRST TRUST NASDAQ CYBERSECU
40                            GLD
41                SPDR GOLD SHARES
42                            SPY
43          SPDR S&P 500 ETF TRUST
44                     ZQ OCT2025
45                30 Day Fed Funds
Name: Instrument , dtype: object

In [149]:
position_jan_11_25["type"] = position_jan_11_25["Instrument\xa0"].str.split().str[-1]

In [150]:
for y in range(0,len(position_jan_11_25["type"])):
    #for i in position_jan_11_25["type"].unique():
    if position_jan_11_25["type"][y] == "Put":
        position_jan_11_25["type0"][y] = "option" 
    elif position_jan_11_25["type"][y] == "Call":
        position_jan_11_25["type0"][y] = "option"
    else: 
        position_jan_11_25["type0"][y] = "Not option"

KeyError: 'type0'

In [151]:
position_jan_11_25.head()

,Instrument,Position,Cost Basis,Unrealized P&L,Market Value,Avg Price,Daily P&L,Last,type
0,SPY Jan17'25 585 Put,-27,"-8,513.10","-12,030.00","-21,455.60",3.15,"-11,150.00",7.75,Put
1,SPDR S&P 500 ETF TRUST,NaN,USD,USD,USD,USD,USD,NaN,TRUST
2,IBIT Mar21'25 51 Put,-50,"-17,722",-931,"-18,866.18",3.54,"1,850.00",3.73,Put
3,ISHARES BITCOIN TRUST ETF,NaN,USD,USD,USD,USD,USD,NaN,ETF
4,SPY Mar21'25 545 Put,-20,"-8,565.64","-3,970.00","-12,691.09",4.28,"-3,560.00",6.25,Put

In [152]:
option_position_jan_11_25 = position_jan_11_25[position_jan_11_25["type0"] == "option"]

KeyError: 'type0'

In [153]:
option_position_jan_11_25.head(10)

,Instrument,Position,Cost Basis,Unrealized P&L,Market Value,Avg Price,Daily P&L,Last,type,type0,Strike,underlying
0,SPY Jan17'25 585 Put,-27,"-8,513.10","-12,030.00","-21,455.60",3.15,"-11,150.00",7.75,Put,option,585,SPY
1,IBIT Mar21'25 51 Put,-50,"-17,722",-931,"-18,866.18",3.54,"1,850.00",3.73,Put,option,51,IBIT
2,SPY Mar21'25 545 Put,-20,"-8,565.64","-3,970.00","-12,691.09",4.28,"-3,560.00",6.25,Put,option,545,SPY
3,CAR.UN Feb21'25 48 Put,-20,"-5,375.00","-7,260.00","-12,636.27",2.69,"-1,540.00",C5.55,Put,option,48,CAR.UN
4,IBIT Jan17'25 55 Put,-60,"-9,170.94","-3,190.00","-12,360.81",1.53,"3,130.00",2.01,Put,option,55,IBIT
5,IWM Jan17'25 219 Put,-3,-643.45,-611,"-1,357.62",2.14,-651,4.14,Put,option,219,IWM
6,MSFT Jan17'25 420 Put,-2,-659.54,-420,"-1,094.96",3.3,-414,5.45,Put,option,420,MSFT
7,NVDA Jan17'25 136 Put,-3,-608.62,-343,"-1,010.76",2.03,-367,3.2,Put,option,136,NVDA
8,RCAT Apr17'25 15 Call,20,"8,995.57","-5,380.00","3,617.67",4.5,"-1,590.00",1.8,Call,option,15,RCAT
9,CRNT Mar21'25 6 Call,200,"12,157","-6,480.00","5,706.23",0.61,-822,0.3,Call,option,6,CRNT

In [154]:
option_position_jan_11_25["Instrument\xa0"].apply(lambda st: st[st.find("25")+2:-1].split()[0])

0     585
1      51
2     545
3      48
4      55
5     219
6     420
7     136
8      15
9       6
10     55
11    150
12    120
13    180
Name: Instrument , dtype: object

In [155]:
option_position_jan_11_25["Strike"] = option_position_jan_11_25["Instrument\xa0"].apply(lambda st: st[st.find("25")+2:-1].split()[0])

In [156]:
option_position_jan_11_25.head()

,Instrument,Position,Cost Basis,Unrealized P&L,Market Value,Avg Price,Daily P&L,Last,type,type0,Strike,underlying
0,SPY Jan17'25 585 Put,-27,"-8,513.10","-12,030.00","-21,455.60",3.15,"-11,150.00",7.75,Put,option,585,SPY
1,IBIT Mar21'25 51 Put,-50,"-17,722",-931,"-18,866.18",3.54,"1,850.00",3.73,Put,option,51,IBIT
2,SPY Mar21'25 545 Put,-20,"-8,565.64","-3,970.00","-12,691.09",4.28,"-3,560.00",6.25,Put,option,545,SPY
3,CAR.UN Feb21'25 48 Put,-20,"-5,375.00","-7,260.00","-12,636.27",2.69,"-1,540.00",C5.55,Put,option,48,CAR.UN
4,IBIT Jan17'25 55 Put,-60,"-9,170.94","-3,190.00","-12,360.81",1.53,"3,130.00",2.01,Put,option,55,IBIT

In [157]:
option_position_jan_11_25["underlying"] = option_position_jan_11_25["Instrument\xa0"].apply(lambda st: st.split()[0])

In [158]:
option_position_jan_11_25.head()

,Instrument,Position,Cost Basis,Unrealized P&L,Market Value,Avg Price,Daily P&L,Last,type,type0,Strike,underlying
0,SPY Jan17'25 585 Put,-27,"-8,513.10","-12,030.00","-21,455.60",3.15,"-11,150.00",7.75,Put,option,585,SPY
1,IBIT Mar21'25 51 Put,-50,"-17,722",-931,"-18,866.18",3.54,"1,850.00",3.73,Put,option,51,IBIT
2,SPY Mar21'25 545 Put,-20,"-8,565.64","-3,970.00","-12,691.09",4.28,"-3,560.00",6.25,Put,option,545,SPY
3,CAR.UN Feb21'25 48 Put,-20,"-5,375.00","-7,260.00","-12,636.27",2.69,"-1,540.00",C5.55,Put,option,48,CAR.UN
4,IBIT Jan17'25 55 Put,-60,"-9,170.94","-3,190.00","-12,360.81",1.53,"3,130.00",2.01,Put,option,55,IBIT

In [173]:
# Define the ticker list
tickers_list = option_position_jan_11_25["underlying"].unique()
# Create placeholder for data
options_underlying_jan_11_25 = pd.DataFrame(columns=tickers_list)
# Fetch the data
for ticker in tickers_list:
    options_underlying_jan_11_25[ticker] = yf.download(ticker,
                               start="2025-01-11",
                               end="2025-01-11")['Close']
# Print first 5 rows of the data
options_underlying_jan_11_25.head()

[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['CAR.UN']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,SPY,IBIT,CAR.UN,IWM,MSFT,NVDA,RCAT,CRNT,IONQ,ANET,RDDT
Date,,,,,,,,,,,
2025-01-10,580.48999,53.84,NaN,216.830002,418.950012,135.910004,10.03,4.81,32.330002,114.339996,167.080002

In [174]:
options_underlying_jan_11_25 = options_underlying_jan_11_25.transpose()

In [175]:
options_underlying_jan_11_25.head()

Date    2025-01-10
SPY     580.489990
IBIT     53.840000
CAR.UN         NaN
IWM     216.830002
MSFT    418.950012

In [176]:
options_underlying_jan_11_25.columns = ["underlying_price"]

In [177]:
options_underlying_jan_11_25

        underlying_price
SPY           580.489990
IBIT           53.840000
CAR.UN               NaN
IWM           216.830002
MSFT          418.950012
NVDA          135.910004
RCAT           10.030000
CRNT            4.810000
IONQ           32.330002
ANET          114.339996
RDDT          167.080002

In [178]:
options_underlying_jan_11_25.reset_index(drop=False, inplace=True)

In [179]:
options_underlying_jan_11_25

     index  underlying_price
0      SPY        580.489990
1     IBIT         53.840000
2   CAR.UN               NaN
3      IWM        216.830002
4     MSFT        418.950012
5     NVDA        135.910004
6     RCAT         10.030000
7     CRNT          4.810000
8     IONQ         32.330002
9     ANET        114.339996
10    RDDT        167.080002

In [180]:
options_underlying_jan_11_25.rename(columns={"index":"underlying"}, inplace=True)

In [181]:
options_underlying_jan_11_25

   underlying  underlying_price
0         SPY        580.489990
1        IBIT         53.840000
2      CAR.UN               NaN
3         IWM        216.830002
4        MSFT        418.950012
5        NVDA        135.910004
6        RCAT         10.030000
7        CRNT          4.810000
8        IONQ         32.330002
9        ANET        114.339996
10       RDDT        167.080002

In [182]:
options_underlying_jan_11_25.loc[pd.isna(options_underlying_jan_11_25.underlying_price),"underlying_price"] = 41.71

In [183]:
options_underlying_jan_11_25

   underlying  underlying_price
0         SPY        580.489990
1        IBIT         53.840000
2      CAR.UN         41.710000
3         IWM        216.830002
4        MSFT        418.950012
5        NVDA        135.910004
6        RCAT         10.030000
7        CRNT          4.810000
8        IONQ         32.330002
9        ANET        114.339996
10       RDDT        167.080002

In [204]:
option_position_jan_11_25

,Instrument,Position,Cost Basis,Unrealized P&L,Market Value,Avg Price,Daily P&L,Last,type,type0,Strike,underlying
0,SPY Jan17'25 585 Put,-27,"-8,513.10","-12,030.00","-21,455.60",3.15,"-11,150.00",7.75,Put,option,585,SPY
1,IBIT Mar21'25 51 Put,-50,"-17,722",-931,"-18,866.18",3.54,"1,850.00",3.73,Put,option,51,IBIT
2,SPY Mar21'25 545 Put,-20,"-8,565.64","-3,970.00","-12,691.09",4.28,"-3,560.00",6.25,Put,option,545,SPY
3,CAR.UN Feb21'25 48 Put,-20,"-5,375.00","-7,260.00","-12,636.27",2.69,"-1,540.00",C5.55,Put,option,48,CAR.UN
4,IBIT Jan17'25 55 Put,-60,"-9,170.94","-3,190.00","-12,360.81",1.53,"3,130.00",2.01,Put,option,55,IBIT
5,IWM Jan17'25 219 Put,-3,-643.45,-611,"-1,357.62",2.14,-651,4.14,Put,option,219,IWM
6,MSFT Jan17'25 420 Put,-2,-659.54,-420,"-1,094.96",3.3,-414,5.45,Put,option,420,MSFT
7,NVDA Jan17'25 136 Put,-3,-608.62,-343,"-1,010.76",2.03,-367,3.2,Put,option,136,NVDA
8,RCAT Apr17'25 15 Call,20,"8,995.57","-5,380.00","3,617.67",4.5,"-1,590.00",1.8,Call,option,15,RCAT
9,CRNT Mar21'25 6 Call,200,"12,157","-6,480.00","5,706.23",0.61,-822,0.3,Call,option,6,CRNT
10,IONQ Apr17'25 55 Call,20,"24,406","-17,180.00","6,146.51",12.2,448,3.5,Call,option,55,IONQ
11,NVDA Apr17'25 150 Call,10,"17,455","-8,250.00","8,968.66",17.45,"-2,030.00",9.15,Call,option,150,NVDA
12,ANET Mar21'25 120 Call,20,"18,396","-3,630.00","14,662.49",9.2,-536,7.5,Call,option,120,ANET
13,RDDT Mar21'25 180 Call,10,"25,153","-6,150.00","18,715.32",25.15,"-2,550.00",19.71,Call,option,180,RDDT

In [218]:
option_position_jan_11_25["\xa0Position"] = pd.to_numeric(option_position_jan_11_25["\xa0Position"], errors='coerce')
short_option_position_jan_11_25 = option_position_jan_11_25[option_position_jan_11_25["\xa0Position"] < 0]

In [219]:
short_option_position_jan_11_25["\xa0Last"] = short_option_position_jan_11_25["\xa0Last"].astype('str').str.extractall('([0-9]*+[./]*[0-9]*)').unstack().fillna('').sum(axis=1)
short_option_position_jan_11_25

C:\Users\HP\AppData\Local\Temp\ipykernel_28940\843502164.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  short_option_position_jan_11_25["\xa0Last"] = short_option_position_jan_11_25["\xa0Last"].astype('str').str.extractall('([0-9]*+[./]*[0-9]*)').unstack().fillna('').sum(axis=1)

,Instrument,Position,Cost Basis,Unrealized P&L,Market Value,Avg Price,Daily P&L,Last,type,type0,Strike,underlying
0,SPY Jan17'25 585 Put,-27,"-8,513.10","-12,030.00","-21,455.60",3.15,"-11,150.00",7.75,Put,option,585,SPY
1,IBIT Mar21'25 51 Put,-50,"-17,722",-931,"-18,866.18",3.54,"1,850.00",3.73,Put,option,51,IBIT
2,SPY Mar21'25 545 Put,-20,"-8,565.64","-3,970.00","-12,691.09",4.28,"-3,560.00",6.25,Put,option,545,SPY
3,CAR.UN Feb21'25 48 Put,-20,"-5,375.00","-7,260.00","-12,636.27",2.69,"-1,540.00",5.55,Put,option,48,CAR.UN
4,IBIT Jan17'25 55 Put,-60,"-9,170.94","-3,190.00","-12,360.81",1.53,"3,130.00",2.01,Put,option,55,IBIT
5,IWM Jan17'25 219 Put,-3,-643.45,-611,"-1,357.62",2.14,-651,4.14,Put,option,219,IWM
6,MSFT Jan17'25 420 Put,-2,-659.54,-420,"-1,094.96",3.3,-414,5.45,Put,option,420,MSFT
7,NVDA Jan17'25 136 Put,-3,-608.62,-343,"-1,010.76",2.03,-367,3.20,Put,option,136,NVDA

In [220]:
short_option_position_jan_11_25.columns

Index(['Instrument ', ' Position', ' Cost Basis', ' Unrealized P&L',
       ' Market Value', ' Avg Price', ' Daily P&L', ' Last', 'type', 'type0',
       'Strike', 'underlying'],
      dtype='object')

In [221]:
short_option_position_jan_11_25[['\xa0Cost Basis', '\xa0Unrealized P&L', '\xa0Avg Price', '\xa0Daily P&L', 'Strike','\xa0Market Value']] = short_option_position_jan_11_25[['\xa0Cost Basis', '\xa0Unrealized P&L', '\xa0Avg Price', '\xa0Daily P&L', 'Strike','\xa0Market Value']].apply(lambda x: pd.to_numeric(x.astype(str).str.replace(',',''), errors='coerce'))

C:\Users\HP\AppData\Local\Temp\ipykernel_28940\927802322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  short_option_position_jan_11_25[['\xa0Cost Basis', '\xa0Unrealized P&L', '\xa0Avg Price', '\xa0Daily P&L', 'Strike','\xa0Market Value']] = short_option_position_jan_11_25[['\xa0Cost Basis', '\xa0Unrealized P&L', '\xa0Avg Price', '\xa0Daily P&L', 'Strike','\xa0Market Value']].apply(lambda x: pd.to_numeric(x.astype(str).str.replace(',',''), errors='coerce'))

In [222]:
# Attach underlying price to the short option position
short_option_position_jan_11_25 = pd.merge(short_option_position_jan_11_25, options_underlying_jan_11_25, on="underlying")
short_option_position_jan_11_25

,Instrument,Position,Cost Basis,Unrealized P&L,Market Value,Avg Price,Daily P&L,Last,type,type0,Strike,underlying,underlying_price
0,SPY Jan17'25 585 Put,-27,-8513.10,-12030.0,-21455.60,3.15,-11150.0,7.75,Put,option,585,SPY,580.489990
1,SPY Mar21'25 545 Put,-20,-8565.64,-3970.0,-12691.09,4.28,-3560.0,6.25,Put,option,545,SPY,580.489990
2,IBIT Mar21'25 51 Put,-50,-17722.00,-931.0,-18866.18,3.54,1850.0,3.73,Put,option,51,IBIT,53.840000
3,IBIT Jan17'25 55 Put,-60,-9170.94,-3190.0,-12360.81,1.53,3130.0,2.01,Put,option,55,IBIT,53.840000
4,CAR.UN Feb21'25 48 Put,-20,-5375.00,-7260.0,-12636.27,2.69,-1540.0,5.55,Put,option,48,CAR.UN,41.710000
5,IWM Jan17'25 219 Put,-3,-643.45,-611.0,-1357.62,2.14,-651.0,4.14,Put,option,219,IWM,216.830002
6,MSFT Jan17'25 420 Put,-2,-659.54,-420.0,-1094.96,3.30,-414.0,5.45,Put,option,420,MSFT,418.950012
7,NVDA Jan17'25 136 Put,-3,-608.62,-343.0,-1010.76,2.03,-367.0,3.20,Put,option,136,NVDA,135.910004

In [223]:
short_option_position_jan_11_25["\xa0Last"].dtype

dtype('float64')

In [238]:
short_option_position_jan_11_25["margin_requirement"] = short_option_position_jan_11_25.apply(lambda x: margin_req(x["Strike"],x["underlying_price"],x["\xa0Last"],n_options=abs(x["\xa0Position"]),type=x["type"].lower()), axis=1)
short_option_position_jan_11_25

,Instrument,Position,Cost Basis,Unrealized P&L,Market Value,Avg Price,Daily P&L,Last,type,type0,Strike,underlying,underlying_price,margin_requirement
0,SPY Jan17'25 585 Put,-27,-8513.10,-12030.0,-21455.60,3.15,-11150.0,7.75,Put,option,585,SPY,580.489990,18189.699707
1,SPY Mar21'25 545 Put,-20,-8565.64,-3970.0,-12691.09,4.28,-3560.0,6.25,Put,option,545,SPY,580.489990,14490.700684
2,IBIT Mar21'25 51 Put,-50,-17722.00,-931.0,-18866.18,3.54,1850.0,3.73,Put,option,51,IBIT,53.840000,12873.000000
3,IBIT Jan17'25 55 Put,-60,-9170.94,-3190.0,-12360.81,1.53,3130.0,2.01,Put,option,55,IBIT,53.840000,15201.000000
4,CAR.UN Feb21'25 48 Put,-20,-5375.00,-7260.0,-12636.27,2.69,-1540.0,5.55,Put,option,48,CAR.UN,41.710000,5555.000000
5,IWM Jan17'25 219 Put,-3,-643.45,-611.0,-1357.62,2.14,-651.0,4.14,Put,option,219,IWM,216.830002,6918.900055
6,MSFT Jan17'25 420 Put,-2,-659.54,-420.0,-1094.96,3.30,-414.0,5.45,Put,option,420,MSFT,418.950012,13113.500366
7,NVDA Jan17'25 136 Put,-3,-608.62,-343.0,-1010.76,2.03,-367.0,3.20,Put,option,136,NVDA,135.910004,4397.300110

In [241]:
short_option_position_jan_11_25["portfolio_margin_requirement"] = short_option_position_jan_11_25["margin_requirement"].sum()
short_option_position_jan_11_25

,Instrument,Position,Cost Basis,Unrealized P&L,Market Value,Avg Price,Daily P&L,Last,type,type0,Strike,underlying,underlying_price,margin_requirement,portfolio_margin_requirement
0,SPY Jan17'25 585 Put,-27,-8513.10,-12030.0,-21455.60,3.15,-11150.0,7.75,Put,option,585,SPY,580.489990,18189.699707,90739.100922
1,SPY Mar21'25 545 Put,-20,-8565.64,-3970.0,-12691.09,4.28,-3560.0,6.25,Put,option,545,SPY,580.489990,14490.700684,90739.100922
2,IBIT Mar21'25 51 Put,-50,-17722.00,-931.0,-18866.18,3.54,1850.0,3.73,Put,option,51,IBIT,53.840000,12873.000000,90739.100922
3,IBIT Jan17'25 55 Put,-60,-9170.94,-3190.0,-12360.81,1.53,3130.0,2.01,Put,option,55,IBIT,53.840000,15201.000000,90739.100922
4,CAR.UN Feb21'25 48 Put,-20,-5375.00,-7260.0,-12636.27,2.69,-1540.0,5.55,Put,option,48,CAR.UN,41.710000,5555.000000,90739.100922
5,IWM Jan17'25 219 Put,-3,-643.45,-611.0,-1357.62,2.14,-651.0,4.14,Put,option,219,IWM,216.830002,6918.900055,90739.100922
6,MSFT Jan17'25 420 Put,-2,-659.54,-420.0,-1094.96,3.30,-414.0,5.45,Put,option,420,MSFT,418.950012,13113.500366,90739.100922
7,NVDA Jan17'25 136 Put,-3,-608.62,-343.0,-1010.76,2.03,-367.0,3.20,Put,option,136,NVDA,135.910004,4397.300110,90739.100922